@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD Mercy-Developers</h1>
    <p>Para entrar al CRUD de tabla clientes, por favor agrega /Clientes</p>
    <p>Para entrar al CRUD de tabla servicios, por favor agrega /Servicios</p>
</div>
